.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

#speciesDendogram{
	background-color: snow;
	height: 700px;
	width: 900px;
	overflow: hidden;

}
.selected{
  stroke:#252525;
  fill: none;
  stroke-width: 2px;
}



















.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}



/*Wheel's CSS*/

.wheel-text{
  font-size: 12px;
  font-weight: bold;
  font-family: arial;
}